{% extends "master.html" %}

{% block title %}
Counter
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4 mb-5">Welcome to Ninja Gold!</h1>
</div>

<div class="row">
  {% for avenue in DATA.keys() %}
  {% if DATA[avenue][0] > 0 %}
    {% set earn_lose = 'earn' %}
    {% set min_gain = DATA[avenue][0] %}
  {% else %}
    {% set earn_lose = 'earn or lose' %}
    {% set min_gain = 0 %}
  {% endif %}
  {% set image_path = 'img/'+avenue+'.jpg' %}
  <div class="col mx-1">
    <div class="card" style="width: 19rem;">
      <img src="{{ url_for('static', filename=image_path) }}" class="card-img-top" alt="{{avenue}}.jpg">
      <div class="card-body">
        <h5 class="card-title">{{ avenue|capitalize }}</h5>
        <p class="card-text">You can {{earn_lose}} between {{min_gain}} and {{DATA[avenue][1]}} gold in this {{avenue}}.</p>
        <a href="/process_money" class="btn btn-primary">Do this</a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}

{% block footer %}
{% endblock %}

