<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <title>
        {% block title %}My website{% endblock %}
    </title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <hr>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 by <a href="http://domain.invalid/">Balaji</a>.
        {% endblock %}
    </div>
</body>
</html>